body {
    padding: 10px;
    justify-content: flex-start; /* Align content to the left */
    align-items: flex-start; /* Align content to the top */
}
.auctions-head{
    margin-left: 20px;
    margin-bottom: 20px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 20px;
    
}

.card{
    border-radius: 10px;

}

.card-link {
    background: white;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-decoration: none;
    transition: transform 0.3s, box-shadow 0.3s;
    
}

.card-link img {
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.card-content {
    padding: 15px;
    text-align: center;
}

.card-link h3 {
    font-size: 1.2rem;
    color: #333;
}

.card-link p {
    color: #777;
    margin-top: 5px;
}


.card-link:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
    text-decoration: none;
}


.description {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    max-height: 4.5em; /* Adjust based on line height */
}

.description::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 1.5em; /* Adjust based on line height */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

.listing-head {
    display: flex; /* فعال کردن Flexbox */
    align-items: center; /* مرکز کردن آیتم‌ها به صورت عمودی */
    justify-content: space-between; /* فاصله بین عکس و دکمه */
}

.watchlist-btn{
    color: #fff;
    border-radius: 6px;
    padding: 10px 20px;
    border-style: none;
    backface-visibility: hidden;
    border-width: 0;
}
.watchlist-btn:hover{
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
}
.in-watchlist{
    background-color: #ff0000;
    
}
.not-in-watchlist{
    background-color: green;
}
