{% extends 'auctions/layout.html' %}
{% load static %}

{% block title %} Watchlist {% endblock %}
{% block body %}
    <h2>Watchlist</h2>
    <div class="card-container">
        {% for listing in watchlist %}
            <div class="card">
                <a href="{% url 'auctions:listing_page' listing.id %}" class="card-link">
                    <img src="{{listing.image_url}}" alt="listing image">
                    <div class="card-content">
                        <h3>{{listing.title}}</h3>
                        <p class="description">{{listing.description}}</p>
                        {% if listing.active == True %}
                            <p>Current Price : {{listing.price.last.bid}}</p>
                        {% else %}
                            <p>Auction closed</p>
                        {% endif %}
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}